.react-calendar {
    width: 100%;
    border: none;
    font-family: 'myFont';
    border-radius: 0.5rem;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
  }
  .react-calendar__navigation{
    /* background: #09aac6; */
    border-radius: 5px;
    
  }
  .react-calendar__navigation button {
    color: #111827;
    font-weight: bold;
    font-size: 11px;
    border: none;
    border-radius: 999px;
    /* background-color: red; */
    padding: -5px;
   
  }
  
  .react-calendar__navigation button:hover {
    /* background-color: #09aac6; */
    border-radius: 999px;
  }
  
  .react-calendar__tile {
    text-align: center;
    padding: 10px;
    background: white;
    border-radius: 999px;
    font-weight: bold;
    color: #111827;
    font-size: 10px;
  }
  
  .react-calendar__tile--active {
    background: #c1c1c1;
    color: white;
    font-weight: bold;
    border-radius: 999px;
  }
  
  .react-calendar__tile--active:enabled:hover {
    background: #c1c1c1;
  }
  
  .react-calendar__tile--now {
    background: #e5e7eb;
    color: #111827;
    border-radius: 999px;
  }
  
  .react-calendar__month-view__weekdays {
    text-transform: capitalize;
    font-weight: 800;
    font-size: 11px;
    color: #09aac6;
    text-decoration: none;
  }
  
  .react-calendar__month-view__days__day--weekend {
    color: #09aac6;
    font-weight: 800;
    font-size: 15px;
  }
  